body {
    display: flex;
    margin: 0;
    flex-direction: column;
    height: 100%;
    font-family: 'Robot', sans-serif;
    background: white;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.header {
    display: flex;
    height: 50px;
    padding: 0 200px;
    padding-bottom: 40px;
    color: white;
    align-items: center;
    justify-content: space-between;
    background: #1f2937;

    
}

.site-sale {
    font-size: 56px;
    color: white;
    font-weight: 900;
}

.body {
    display: flex;
    color: white;
    align-items: center;
    justify-content: start;
    background: #1f2937;
    padding: 0 200px;
    height: 500px;
    font-family: 'Roboto', sans-serif;
}

.left {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.footer {
    display: flex;
    height: 60px;
    font-size: 18px;
    color: white;
    background: #1f2937;
    align-items: center;
    justify-content: center;
}

.head-con {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 14px;
}

button {
    border-radius: 10px;
    font-size: 16px;
    background: #3882f6;
    color: white;
    width: 100px;
    padding: 6px;
    border: none;
    cursor: pointer;
}

#call-to-action-button{
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #3882f6;
    color: white;
    width: 100px;
    padding: 6px;
    border: none;
    border: 1px solid ;
    cursor: pointer;
}

#main-pic {
    border-color: white;
    width: 400px;
    height: 170px;
    object-fit: cover;
}

/* Body-con */
.body-con {
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    padding: 50px 0;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.image {
    display: flex;
    gap: 16px;
    padding: 18px;
}

.imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgs img {
    border: #3882f6 4px solid;
    border-radius: 16px;
    margin-bottom: 7px;
}

.text {
    max-width: 200px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #1f2937;
}

.con-title {
    font-size: 56px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Quote Section */
.quote-sec {
    background: #e5e7eb;
    padding: 100px;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    gap: 10px;
}

.quote {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.author {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: end;
}

/* Call to action */
.call-to-action {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    width: 100%;
    font-size: 23px;
    margin-bottom: 20px;
}

.cta-con{
    display: flex;
    background: #3882f6;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    color: white;
    border-radius: 16px;
    padding: 50px;
}

.cta-lef{
    display: flex;

}